.table {
  @media (max-width: 1200px) {
    width: 100%;
    display: flex;
  }
  thead {
    @media (max-width: 1200px) {
      width: 100%;
      background-color: whitesmoke;
    }
    tr {
      @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
  tbody {
    @media (max-width: 1200px) {
      width: 100%;
    }
    tr {
      @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
